.client-text-wrap h1{
    font-size: 36px;
}
.main-client-review{
  margin-bottom: 90px;
}
.client-text-wrap h1:after {
    content: "";
    display: block;
    width: 238px;
    height: 1px;
    background: red;
    right: 50%;
    left: 41%;
    position: absolute;
    z-index: 999;
  }
  .client-text-wrap p{
      font-size: 18px;
  }
  .client-review-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
  }
  .img-panel{
    max-width: 500px;
    width: 100%;
  }
.head-clnt, .para-clnt{
  font-family: "PoppinsSemiBold";
}
.clnt-para-wrap{
  font-family: "PoppinsLight";
}
  .img-clnt{
    width: 75px;
    cursor: pointer;
  }
  .img-clnt:hover{
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid red;
  }
  .client-review-text p{
    font-size: 18px;
    margin-top: 69px;
    text-align: left;
  }

  .client-review-imgs{
    background-image: url("../ClientReview/images/map.png");
    width: 48%;
    background-repeat: no-repeat;
    background-size: 700px 300px;
    position: relative;
    display: flex;
  }
  .position-img div:nth-child(1){
    position: absolute;
    top: 5%;
    left: 10%;  
  }
  .position-img div:nth-child(2){
    position: absolute;
    bottom: 59%;
    left: 42%;
  }
  .position-img div:nth-child(3){
    position: absolute;
    bottom: 28%;
    right: 15%;    
  }
 .position-img div:nth-child(4){
  position: absolute;
  top: 60%;
  right: 49%;   
  }
  .position-img div:nth-child(5){
    position: absolute;
    bottom: 87%;
    right: 6%;    
  }
  .position-img div:nth-child(6){
    position: absolute;
    bottom: 29%;
    left: 5%;   
  }
 @media(max-width:768px){

  .main-client-review{
   display: block;
  }
  /* .client-review-panel {
    display:block;
}  */

 }